.divider[data-v-e71f00ca]{background:#f7f9fa;height:70px;position:relative}.divider[data-v-e71f00ca]:before{background:#e2e8f0;border-radius:100% 100% 0 0;bottom:0;content:"";height:50px;position:absolute;width:100%}
